body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral-200);
}

:root {
  --clr-primary: rgba(36, 171, 112);
  --clr-primary-100: rgba(36, 171, 112, 0.1);
  --clr-neutral-50: rgba(255, 255, 255);
  --clr-neutral-100: rgba(221, 221, 221);
  --clr-neutral-200: rgba(85, 85, 85, 1);
  --clr-neutral-300: rgba(250, 250, 250);
  --clr-neutral-400: rgba(232, 232, 232);
  --clr-neutral-900: rgba(34, 34, 34, 1);
  --clr-neutral-1000: rgba(0, 0, 0, 1);
  --ff-primary: "Open Sans", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fs-300: 0.75rem; /* 12px */
  --fs-400: 0.875rem; /* 14px */
  --fs-500: 1rem;
  --fs-550: 1.25rem; /* 20px */
  --fs-600: 1.5rem; /* 24px */
  --fs-700: 2.25rem; /* 36px */
  --fs-800: 2.5rem; /* 40px */
  --fs-900: 4rem; /* 64px */
  --fs-body: var(--fs-500);
  --fs-nav: var(--fs-500);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
}

.primary-navigation[data-visible] {
  position: fixed;
  display: block;
}

@media (max-width: 50em) {
  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.6));
    z-index: -1;
  }
}

.nav-list {
  text-align: center;
  font-size: var(--fs-500);
  line-height: 150%;
  font-weight: 400;
  color: var(--clr-neutral-900);
  display: flex;
  gap: 40px;
}
@media (max-width: 50em) {
  .nav-list li {
    margin-bottom: 2rem;
  }
}
@media (max-width: 50em) {
  .nav-list {
    display: block;
  }
}

.primary-navigation {
  display: block;
}
@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    top: 0;
    background-color: var(--clr-neutral-50);
    inset: 6rem 0.5rem auto;
    border-radius: 0.5rem;
    padding: 3rem;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
    color: black;
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
}

.mobile-nav-toggle {
  display: none;
}
.mobile-nav-toggle .icon-close {
  display: none;
}
@media (max-width: 50em) {
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }
}

.login-button {
  cursor: pointer;
  padding: 1rem 2rem;
  color: var(--clr-neutral-50);
  background-color: var(--clr-primary);
  border-radius: 2.18rem;
  border: none;
  display: none;
}
@media (min-width: 50em) {
  .login-button {
    display: inline-flex;
  }
}

.hero {
  position: relative;
  min-height: 656px;
  height: 100%;
}
.hero .hero-height {
  min-height: 475px;
}
@media (min-width: 48em) {
  .hero .hero-height {
    min-height: 656px;
  }
}

.hero-image {
  display: none;
}
@media (min-width: 48em) {
  .hero-image {
    display: block;
    background: url(" /assets/images/home.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.hero-section {
  background-color: var(--clr-primary-100);
  border-radius: 50px;
}
@media (min-width: 48em) {
  .hero-section {
    border-radius: 50px 0 0 0;
  }
}

.hero-data {
  padding: 48px 10px;
}
.hero-data .hero-heading {
  font-size: var(--fs-700);
  line-height: 125%;
  font-weight: 600;
  color: var(--clr-neutral-1000);
  margin-bottom: 1.85rem;
}
@media (min-width: 36em) {
  .hero-data .hero-heading {
    font-size: 3rem;
  }
}
@media (min-width: 62em) {
  .hero-data .hero-heading {
    font-size: var(--fs-900);
  }
}
.hero-data .hero-subheading {
  font-size: var(--fs-400);
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-neutral-200);
  margin-bottom: 3.125rem;
}
@media (min-width: 36em) {
  .hero-data .hero-subheading {
    font-size: var(--fs-500);
  }
}
@media (min-width: 48em) {
  .hero-data .hero-subheading {
    font-size: var(--fs-550);
  }
}
.hero-data .play {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.hero-data .play .play-icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--clr-neutral-50);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--fs-700);
  border: 1px solid rgba(232, 232, 232, 0.31);
}
.hero-data .play .play-text {
  font-size: var(--fs-500);
  line-height: 150%;
  font-weight: 600;
  color: var(--clr-neutral-900);
}
@media (min-width: 48em) {
  .hero-data .play .play-text {
    font-size: var(--fs-550);
  }
}
@media (min-width: 48em) {
  .hero-data {
    padding: 88px var(--fs-550) var(--fs-800);
  }
}

.info-bar-wrapper {
  position: absolute;
  bottom: -7rem;
  right: 2.2rem;
  min-width: 11.5rem;
  box-shadow: 0px 22px 38px 0px rgba(0, 34, 19, 0.08);
  background-color: var(--clr-neutral-50);
  border-radius: 1rem;
  padding: 0;
  width: 80%;
}
.info-bar-wrapper .info-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.info-bar-wrapper .info-bar .info-widget-group {
  display: flex;
  flex-direction: column;
}
.info-bar-wrapper .info-bar .info-widget-group .info-widgets {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-right: 3.4rem;
}
.info-bar-wrapper .info-bar .info-widget-group .info-widgets h2 {
  font-size: var(--fs-550);
  line-height: 120%;
  font-weight: 400;
  color: var(--clr-neutral-900);
  margin-bottom: 8px;
}
.info-bar-wrapper .info-bar .info-widget-group .info-widgets p {
  font-size: var(--fs-400);
  line-height: 120%;
  font-weight: 400;
  color: var(--clr-neutral-900);
}
@media (min-width: 75em) {
  .info-bar-wrapper .info-bar .info-widget-group .info-widgets {
    margin-bottom: 0;
  }
}
@media (min-width: 75em) {
  .info-bar-wrapper .info-bar .info-widget-group {
    flex-direction: row;
  }
}
.info-bar-wrapper .info-bar .search-button {
  font-size: 1.12rem;
  line-height: 134%;
  font-weight: 400;
  color: var(--clr-neutral-900);
  cursor: pointer;
  padding: 8px 46px;
  color: var(--clr-neutral-50);
  background-color: var(--clr-primary);
  border-radius: 2.18rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 4rem;
}
@media (min-width: 48rem) {
  .info-bar-wrapper .info-bar .search-button {
    cursor: pointer;
    padding: 38px 46px;
    color: var(--clr-neutral-50);
    background-color: var(--clr-primary);
    border-radius: 2.18rem;
    border: none;
    margin-left: 50px;
    border-radius: 5rem;
  }
}
@media (min-width: 48rem) {
  .info-bar-wrapper .info-bar {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 75em) {
  .info-bar-wrapper .info-bar {
    flex-direction: row;
    justify-content: unset;
    padding: 0;
    padding-left: 3.15rem;
  }
}
@media (min-width: 575px) {
  .info-bar-wrapper {
    right: 3.5rem;
    bottom: -6rem;
    border-radius: 3rem;
  }
}
@media (min-width: 75em) {
  .info-bar-wrapper {
    right: 3.5rem;
    bottom: 4rem;
    border-radius: 3rem;
  }
}

.hotels {
  padding-block: 150px;
}

.hotels-heading h2 {
  font-size: var(--fs-700);
  line-height: 130%;
  font-weight: 600;
  color: var(--clr-neutral-1000);
  margin-bottom: 20px;
}
@media (min-width: 48em) {
  .hotels-heading h2 {
    font-size: var(--fs-800);
  }
}
.hotels-heading .hotels-subheading {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--fs-800);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--fs-600);
  width: 100%;
}
.hotels-heading .hotels-subheading p {
  font-size: var(--fs-500);
  line-height: 175%;
  font-weight: 400;
  color: var(--clr-neutral-200);
}
.hotels-heading .hotels-subheading .view-button {
  font-size: 1rem;
  line-height: 134%;
  font-weight: 400;
  color: var(--clr-neutral-900);
  cursor: pointer;
  padding: 6px 25px;
  color: var(--clr-primary);
  background-color: var(--clr-primary-100);
  border-radius: 2.18rem;
  border: none;
}
@media (min-width: 62em) {
  .hotels-heading .hotels-subheading {
    flex-direction: row;
  }
}

.hotels-wrapper {
  border-color: var(--clr-neutral-100);
  border-radius: 1rem;
  background-color: var(--clr-neutral-300);
  height: 100%;
}

.hotels-details {
  padding: 1.5rem 1rem;
}
.hotels-details h6 {
  font-size: var(--fs-300);
  line-height: 120%;
  font-weight: 400;
  color: var(--clr-primary);
  margin-bottom: 8px;
}
.hotels-details h3 {
  font-size: 1.4rem;
  line-height: 125%;
  font-weight: 600;
  color: var(--clr-neutral-900);
  margin-bottom: 8px;
}

.hotels-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.hotels-rating .hotels-price {
  padding-right: 30px;
  border-right: 1px solid var(--clr-neutral-100);
}
@media ((min-width: 48em) and (max-width: 75em)) {
  .hotels-rating .hotels-price {
    border: none;
  }
}
@media ((min-width: 48em) and (max-width: 75em)) {
  .hotels-rating {
    flex-direction: column;
    align-items: flex-start;
  }
}

.star-box {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.star-box input {
  display: none;
}
.star-box label svg {
  color: var(--clr-neutral-400);
  cursor: pointer;
  margin-right: 0.25rem;
}

.star-box :checked ~ label svg {
  color: #fc0;
}

.star-box label:hover,
.star-box label:hover ~ label {
  color: #fc0;
}

.facilities-heading {
  font-size: 2rem;
  line-height: 125%;
  font-weight: 600;
  color: var(--clr-neutral-1000);
  margin-bottom: 20px;
}
@media (min-width: 48em) {
  .facilities-heading {
    font-size: var(--fs-700);
  }
}

.facilities-subheading {
  font-size: var(--fs-400);
  line-height: 175%;
  font-weight: 400;
  color: var(--clr-neutral-200);
  margin-bottom: var(--fs-550);
}
@media (min-width: 48em) {
  .facilities-subheading {
    font-size: var(--fs-500);
  }
}
@media (min-width: 62em) {
  .facilities-subheading {
    margin-bottom: 3.12rem;
  }
}

.cta-button {
  font-size: var(--fs-400);
  line-height: 150%;
  font-weight: 600;
  color: var(--clr-neutral-50);
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  color: var(--clr-neutral-50);
  background-color: var(--clr-primary);
  border-radius: 2.18rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 4rem;
  margin-bottom: var(--fs-550);
}
@media (min-width: 48em) {
  .cta-button {
    padding: 1rem 2rem;
  }
}

.facilities-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.facilities-cards .cards {
  padding: 3.12rem 1.65rem;
  min-width: 190px;
  min-height: 190px;
  border: 1px solid var(--clr-neutral-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.history {
  padding-bottom: 7.5rem;
}

.history-image {
  background-image: url("/assets/images/hotel5.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 520px;
  width: 100%;
  border-radius: 0.625rem;
}
@media (min-width: 48em) {
  .history-image {
    border-radius: 0.625rem 0 0 0.625rem;
  }
}

.history-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 32.5rem;
  padding: 2rem 0;
}
.history-data .history-heading {
  font-size: var(--fs-800);
  line-height: 125%;
  font-weight: 600;
  color: var(--clr-neutral-1000);
  margin-bottom: 20px;
}
.history-data .history-subheading {
  font-size: var(--fs-500);
  line-height: 175%;
  font-weight: 400;
  color: var(--clr-neutral-200);
}
.history-data .history-subheading:first-of-type {
  margin-bottom: 20px;
}
.history-data .history-subheading:not(:first-of-type) {
  margin-bottom: 50px;
}
.history-data .explore-button {
  font-size: var(--fs-400);
  line-height: 150%;
  font-weight: 600;
  color: var(--clr-neutral-50);
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  color: var(--clr-neutral-50);
  background-color: var(--clr-primary);
  border-radius: 2.18rem;
  border: none;
  border-radius: 4rem;
}
@media (min-width: 48em) {
  .history-data .explore-button {
    padding: 1rem 2rem;
  }
}
@media (min-width: 48em) {
  .history-data {
    padding: 2rem 2.5rem;
  }
}

.history-section {
  background-color: var(--clr-primary-100);
  border-radius: 0 1rem 1rem 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-neutral-300);
  border-radius: 1rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
}

.swiper-button-next,
.swiper-button-prev {
  background: var(--clr-neutral-50);
  width: 40px;
  height: 40px;
  border-radius: 32px;
  color: var(--clr-primary);
  box-shadow: 4px 2px 7px 0px rgba(0, 35, 20, 0.03);
  margin: auto;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
}

.slider-content {
  font-size: var(--fs-500);
  line-height: 175%;
  font-weight: 400;
  color: var(--clr-neutral-200);
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: flex-start;
  height: 100%;
  padding: 65px 92px;
  text-align: left;
}
.slider-content h4 {
  font-size: var(--fs-600);
  line-height: 117%;
  font-weight: 600;
  color: var(--clr-neutral-900);
  margin-bottom: 12px;
}

.slider-heading {
  margin-bottom: 56px;
  text-align: left;
  position: relative;
}
.slider-heading::after, .slider-heading::before {
  content: "";
  position: absolute;
  background: url("/assets/images/quote.svg");
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  bottom: 80%;
  right: 100%;
  background-position: center;
}
.slider-heading::before {
  transform: scaleX(-1);
  top: 76%;
  left: 100%;
}

.clients {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 60px;
}
@media (min-width: 48em) {
  .clients {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.location {
  background: url("/assets/images/map.png");
  background-size: 100% 100%;
  height: 670px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.location .location-dialog {
  background-color: var(--clr-neutral-50);
  padding: 45px 65px;
  border-radius: 1rem;
  margin-bottom: 40px;
}
.location .location-dialog h2 {
  font-size: var(--fs-700);
  line-height: 112%;
  font-weight: 600;
  color: var(--clr-neutral-900);
  margin-bottom: 1rem;
}
.location .location-dialog p {
  font-size: var(--fs-500);
  line-height: 175%;
  font-weight: 400;
  color: var(--clr-neutral-200);
  margin-bottom: 1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.p-bottom {
  padding-bottom: 7.5rem;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}/*# sourceMappingURL=style.css.map */