body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral-200);
}

:root {
  --clr-primary: rgba(36, 171, 112);
  --clr-primary-100: rgba(36, 171, 112, 0.04);
  --clr-neutral-50: rgba(255, 255, 255);
  --clr-neutral-100: rgba(221, 221, 221);
  --clr-neutral-200: rgba(85, 85, 85, 1);
  --clr-neutral-900: rgba(34, 34, 34, 1);
  --clr-neutral-1000: rgba(0, 0, 0, 1);
  --ff-primary: "Open Sans", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fs-300: 0.75rem; /* 12px */
  --fs-400: 0.875rem; /* 14px */
  --fs-500: 1rem;
  --fs-550: 1.25rem; /* 20px */
  --fs-600: 1.5rem; /* 24px */
  --fs-700: 2.25rem; /* 36px */
  --fs-800: 2.5rem; /* 40px */
  --fs-900: 4rem; /* 64px */
  --fs-body: var(--fs-500);
  --fs-nav: var(--fs-500);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
}

.primary-navigation[data-visible] {
  position: fixed;
  display: block;
}

@media (max-width: 50em) {
  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.6));
    z-index: -1;
  }
}

.nav-list {
  text-align: center;
  font-size: var(--fs-500);
  line-height: 150%;
  font-weight: 400;
  color: var(--clr-neutral-900);
  display: flex;
  gap: 40px;
}
@media (max-width: 50em) {
  .nav-list li {
    margin-bottom: 2rem;
  }
}
@media (max-width: 50em) {
  .nav-list {
    display: block;
  }
}

.primary-navigation {
  display: block;
}
@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    top: 0;
    background-color: var(--clr-neutral-50);
    inset: 6rem 0.5rem auto;
    border-radius: 0.5rem;
    padding: 3rem;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
    color: black;
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
}

.mobile-nav-toggle {
  display: none;
}
.mobile-nav-toggle .icon-close {
  display: none;
}
@media (max-width: 50em) {
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }
}

.login-button {
  padding: 1rem 2rem;
  color: var(--clr-neutral-50);
  background-color: var(--clr-primary);
  border-radius: 2.18rem;
  border: none;
  display: none;
}
@media (min-width: 50em) {
  .login-button {
    display: inline-flex;
  }
}

.hero {
  position: relative;
}

.hero-image {
  background: url(" /assets/images/home.png");
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
  min-height: 656px;
  min-width: 640px;
  width: 100%;
}

.hero-section {
  background-color: var(--clr-primary-100);
  border-radius: 50px 0 50px 0;
}

.hero-data {
  padding: 88px var(--fs-550) var(--fs-550) var(--fs-800);
}
.hero-data .hero-heading {
  font-size: var(--fs-900);
  line-height: 125%;
  font-weight: 600;
  color: var(--clr-neutral-1000);
  margin-bottom: 1.85rem;
}
.hero-data .hero-subheading {
  font-size: var(--fs-550);
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-neutral-200);
  margin-bottom: 3.125rem;
}
.hero-data .play {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.hero-data .play .play-icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--clr-neutral-50);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--fs-700);
  border: 1px solid rgba(232, 232, 232, 0.31);
}
.hero-data .play .play-text {
  font-size: var(--fs-550);
  line-height: 150%;
  font-weight: 600;
  color: var(--clr-neutral-900);
}

.info-bar-wrapper {
  position: absolute;
  bottom: var(--fs-800);
  right: 8.6rem;
  min-width: 62.5rem;
  box-shadow: 0px 22px 38px 0px rgba(0, 34, 19, 0.08);
  background-color: var(--clr-neutral-50);
  border-radius: 5rem;
  padding: 0;
}
.info-bar-wrapper .info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-bar-wrapper .info-bar .info-widgets {
  padding-inline: 30px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.info-bar-wrapper .info-bar .info-widgets:not(:last-child) {
  border-right: 1px solid black;
}
.info-bar-wrapper .info-bar .info-widgets h2 {
  font-size: var(--fs-550);
  line-height: 120%;
  font-weight: 400;
  color: var(--clr-neutral-900);
  margin-bottom: 8px;
}
.info-bar-wrapper .info-bar .info-widgets p {
  font-size: var(--fs-400);
  line-height: 120%;
  font-weight: 400;
  color: var(--clr-neutral-900);
}
.info-bar-wrapper .info-bar .search-button {
  font-size: 1.12rem;
  line-height: 134%;
  font-weight: 400;
  color: var(--clr-neutral-900);
  padding: 38px 46px;
  color: var(--clr-neutral-50);
  background-color: var(--clr-primary);
  border-radius: 2.18rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 4rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}/*# sourceMappingURL=style.css.map */