.footer {
  padding: 50px;
}

.footer-company {
  img {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 32px;
  }
  .footer-social {
    display: flex;
    gap: 30px;
  }
}

.footer-details {
  li {
    margin-bottom: var(--fs-500);

    &:first-child {
      margin-bottom: var(--fs-600);
    }

    &:hover {
      color: var(--clr-primary);
    }
  }
}

.footer-heading {
  @include typography(var(--fs-600), 400, 133%, var(--clr-neutral-900));
}
