.hero {
  position: relative;
}

.hero-image {
  background: url(" /assets/images/home.png");
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
  min-height: 656px;
  min-width: 640px;
  width: 100%;
}

.hero-section {
  background-color: var(--clr-primary-100);
  border-radius: 50px 0 50px 0;
}

.hero-data {
  padding: 88px var(--fs-550) var(--fs-550) var(--fs-800);
  .hero-heading {
    @include typography(var(--fs-900), 600, 125%, var(--clr-neutral-1000));
    margin-bottom: 1.85rem;
  }
  .hero-subheading {
    @include typography(var(--fs-550), 400, 160%, var(--clr-neutral-200));
    margin-bottom: 3.125rem;
  }

  .play {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    .play-icon {
      width: 3.5rem;
      height: 3.5rem;
      background-color: var(--clr-neutral-50);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--fs-700);
      border: 1px solid rgba(232, 232, 232, 0.31);
    }

    .play-text {
      @include typography(var(--fs-550), 600, 150%, var(--clr-neutral-900));
    }
  }
}

.info-bar-wrapper {
  position: absolute;
  bottom: var(--fs-800);
  right: 8.6rem;
  min-width: 62.5rem;
  box-shadow: 0px 22px 38px 0px rgba(0, 34, 19, 0.08);
  background-color: var(--clr-neutral-50);
  //   background-color: pink;
  border-radius: 5rem;
  padding: 0;

  .info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-widgets {
      //   border-right: 1px solid black;
      padding-inline: 30px;
      display: flex;
      gap: 10px;
      align-items: flex-start;

      &:not(:last-child) {
        border-right: 1px solid black;
      }

      h2 {
        @include typography(var(--fs-550), 400, 120%, var(--clr-neutral-900));
        margin-bottom: 8px;
      }
      p {
        @include typography(var(--fs-400), 400, 120%, var(--clr-neutral-900));
      }
    }

    .search-button {
      @include typography(1.12rem, 400, 134%, var(--clr-neutral-900));
      @include button-style(38px 46px);
      display: flex;
      align-items: center;
      gap: 12px;
      border-radius: 4rem;
    }
  }
}
