.history {
  padding-bottom: 7.5rem;
}

.history-image {
  background-image: url("/assets/images/hotel5.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 520px;
  width: 100%;
  border-radius: 0.625rem;

  @media (min-width: 48em) {
    border-radius: 0.625rem 0 0 0.625rem;
  }
}

.history-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 32.5rem;
  padding: 2rem 0;

  .history-heading {
    @include typography(var(--fs-800), 600, 125%, var(--clr-neutral-1000));
    margin-bottom: 20px;
  }

  .history-subheading {
    @include typography(var(--fs-500), 400, 175%, var(--clr-neutral-200));

    &:first-of-type {
      margin-bottom: 20px; // Margin for the first .history-subheading
    }

    &:not(:first-of-type) {
      margin-bottom: 50px; // Margin for subsequent .history-subheading elements
    }
  }

  .explore-button {
    @include typography(var(--fs-400), 600, 150%, var(--clr-neutral-50));
    @include button-style(0.8rem 1.8rem);
    border-radius: 4rem;

    @media (min-width: 48em) {
      padding: 1rem 2rem;
    }
  }

  @media (min-width: 48em) {
    padding: 2rem 2.5rem;
  }
}

.history-section {
  background-color: var(--clr-primary-100);
  border-radius: 0 1rem 1rem 0;
}
