@use "../utility/mixins" as *;

.hotels {
  padding-block: 0;
  @media (min-width: 62em) {
    padding-block: 9.375rem;
  }
}

.hotels-heading {
  h2 {
    @include typography(var(--fs-700), 600, 130%, var(--clr-neutral-1000));
    margin-bottom: 20px;

    @media (min-width: 48em) {
      font-size: var(--fs-800);
    }
  }

  .hotels-subheading {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--fs-800);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--fs-600);
    width: 100%;

    p {
      @include typography(var(--fs-500), 400, 175%, var(--clr-neutral-200));
    }

    .view-button {
      @include typography(1rem, 400, 134%, var(--clr-neutral-900));
      @include button-style(
        6px 25px,
        var(--clr-primary),
        var(--clr-primary-100)
      );
    }

    @media (min-width: 62em) {
      flex-direction: row;
    }
  }
}

.hotels-heading ~ div {
  margin-bottom: 3.125rem;
}

.hotels-wrapper {
  border-color: var(--clr-neutral-100);
  border-radius: var(--fs-500);
  background-color: var(--clr-neutral-300);
  height: 100%;
}

.hotels-details {
  padding: var(--fs-600) var(--fs-500);
  h6 {
    @include typography(var(--fs-300), 400, 120%, var(--clr-primary));
    margin-bottom: 0.5rem;
  }
  h3 {
    @include typography(1.4rem, 600, 125%, var(--clr-neutral-900));
    margin-bottom: 0.5rem;
  }
}

.hotels-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  .hotels-price {
    padding-right: 1.875rem;
    border-right: 0.0625rem solid var(--clr-neutral-100);

    @media ((min-width: 48em) and (max-width: 75em)) {
      border: none;
    }
  }

  @media ((min-width: 48em) and (max-width: 75em)) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.star-box {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  input {
    display: none;
  }

  label svg {
    color: var(--clr-neutral-400);
    cursor: pointer;
    margin-right: 0.25rem;

    &:hover {
      color: var(--clr-secondary);
    }
  }

  & :checked {
    ~ {
      label {
        svg {
          color: var(--clr-secondary);
        }
      }
    }
  }
}
