.primary-navigation[data-visible] {
  position: fixed;
  display: block;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.primary-header[data-overlay]::before {
  @media (max-width: 50em) {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.6));
    z-index: -1;
  }
}

.nav-list {
  text-align: center;
  @include typography(var(--fs-500), 500, 150%, var(--clr-neutral-900));
  display: flex;
  gap: clamp(40px, 10px, 30px);

  li {
    @media (max-width: 50em) {
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 50em) {
    display: block;
  }
}

.primary-navigation {
  display: block;

  @media (max-width: 50em) {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgb(200, 246, 215);
    inset: 6rem 0.5rem 0.2rem;
    border-radius: 0.5rem;
    padding: 11rem;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
    color: black;
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px;

  a {
    z-index: 3;
  }
}

.mobile-nav-toggle {
  display: none;

  .icon-close {
    display: none;
  }
  @media (max-width: 50em) {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    z-index: 3;
  }
}

.login-button {
  @include button-style;
  display: none;
  @media (min-width: 50em) {
    display: inline-flex;
  }
}
