// .swiper {
//   width: 100%;
//   height: 100%;
// }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-neutral-300);
  border-radius: 1rem;
  // background: pink;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
}

.swiper-button-next,
.swiper-button-prev {
  background: var(--clr-neutral-50);
  width: 40px;
  height: 40px;
  border-radius: 32px;
  color: var(--clr-primary);
  box-shadow: 4px 2px 7px 0px rgba(0, 35, 20, 0.03);
  margin: auto;

  &::after {
    font-size: 1rem;
  }
}

.slider-content {
  @include typography(var(--fs-500), 400, 175%, var(--clr-neutral-200));
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: flex-start;
  height: 100%;
  padding: 65px 92px;
  text-align: left;

  h4 {
    @include typography(var(--fs-600), 600, 117%, var(--clr-neutral-900));
    margin-bottom: 12px;
  }
}

// .slider-image {
//   background-image: url("/assets/images/user.png");
// }

.slider-heading {
  margin-bottom: 56px;
  text-align: left;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    background: url("/assets/images/quote.svg");
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    bottom: 80%;
    right: 100%;
    background-position: center;
  }

  &::before {
    transform: scaleX(-1);
    top: 76%;
    left: 100%;
  }
}
