.container {
  max-width: 1280px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-fluid {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -30px;
  /*for gutters*/
}
.row > * {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 360px) {
  .row .col-xs-1 {
    width: 8.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xs-2 {
    width: 16.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xs-3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .row .col-xs-4 {
    width: 33.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xs-5 {
    width: 41.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xs-6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .row .col-xs-7 {
    width: 58.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xs-8 {
    width: 66.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xs-9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .row .col-xs-10 {
    width: 83.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xs-11 {
    width: 91.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xs-12 {
    width: 100%;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .row .col-sm-1 {
    width: 8.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-sm-2 {
    width: 16.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-sm-3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .row .col-sm-4 {
    width: 33.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-sm-5 {
    width: 41.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-sm-6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .row .col-sm-7 {
    width: 58.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-sm-8 {
    width: 66.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-sm-9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .row .col-sm-10 {
    width: 83.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-sm-11 {
    width: 91.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-sm-12 {
    width: 100%;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .row .col-md-1 {
    width: 8.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-md-2 {
    width: 16.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-md-3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .row .col-md-4 {
    width: 33.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-md-5 {
    width: 41.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-md-6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .row .col-md-7 {
    width: 58.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-md-8 {
    width: 66.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-md-9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .row .col-md-10 {
    width: 83.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-md-11 {
    width: 91.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-md-12 {
    width: 100%;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .row .col-lg-1 {
    width: 8.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-lg-2 {
    width: 16.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-lg-3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .row .col-lg-4 {
    width: 33.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-lg-5 {
    width: 41.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-lg-6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .row .col-lg-7 {
    width: 58.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-lg-8 {
    width: 66.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-lg-9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .row .col-lg-10 {
    width: 83.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-lg-11 {
    width: 91.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-lg-12 {
    width: 100%;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .row .col-xl-1 {
    width: 8.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xl-2 {
    width: 16.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xl-3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .row .col-xl-4 {
    width: 33.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xl-5 {
    width: 41.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xl-6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .row .col-xl-7 {
    width: 58.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xl-8 {
    width: 66.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xl-9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .row .col-xl-10 {
    width: 83.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xl-11 {
    width: 91.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xl-12 {
    width: 100%;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-1 {
    width: 8.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xxl-2 {
    width: 16.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xxl-3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .row .col-xxl-4 {
    width: 33.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xxl-5 {
    width: 41.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xxl-6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .row .col-xxl-7 {
    width: 58.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xxl-8 {
    width: 66.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xxl-9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .row .col-xxl-10 {
    width: 83.3333333333%;
    flex: 0 0 auto;
  }
  .row .col-xxl-11 {
    width: 91.6666666667%;
    flex: 0 0 auto;
  }
  .row .col-xxl-12 {
    width: 100%;
    flex: 0 0 auto;
  }
}/*# sourceMappingURL=grid.css.map */