@import "./general-CSS/grid";
@import "./general-CSS/normalized";
@import "./partials/navbar";
@import "./partials/herosection";
@import "./partials/hotels";
@import "./partials/facilities";
@import "./partials/history";
@import "./partials/slider";
@import "./partials/clients.scss";
@import "./partials/location";
@import "./partials/footer";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.p-bottom {
  padding-bottom: 7.5rem;
}

.jc-center {
  justify-content: center;
}
.ta-center {
  text-align: center;
}

.ai-center {
  align-items: center;
}

.hidden {
  overflow: hidden;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral-200);
}

:root {
  --clr-primary: rgba(36, 171, 112);
  --clr-primary-100: rgba(36, 171, 112, 0.1);
  --clr-secondary: rgba(249, 95, 95, 1);

  --clr-neutral-50: rgba(255, 255, 255);
  --clr-neutral-100: rgba(221, 221, 221);
  --clr-neutral-200: rgba(85, 85, 85, 1);
  --clr-neutral-300: rgba(250, 250, 250);
  --clr-neutral-400: rgba(232, 232, 232);
  --clr-neutral-900: rgba(34, 34, 34, 1);
  --clr-neutral-1000: rgba(0, 0, 0, 1);

  --ff-primary: "Open Sans", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 600;

  --fs-300: 0.75rem; /* 12px */
  --fs-400: 0.875rem; /* 14px */
  --fs-500: 1rem;
  --fs-550: 1.25rem; /* 20px */
  --fs-600: 1.5rem; /* 24px */
  --fs-700: 2.25rem; /* 36px */
  --fs-800: 2.5rem; /* 40px */
  --fs-900: 4rem; /* 64px */

  --fs-body: var(--fs-500);
  --fs-nav: var(--fs-500);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
}
